@white:#fff;
@black:#000;
@red: #9c1421;
@gray: #333;
@font:'Open Sans', sans-serif;

/* Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic  */

/** GLOBAL STYLES
========================**/
img {
	max-width:100%;
	height:auto;
}
* {
	box-sizing:border-box;
}
body {
	font:400 16px @font;
	font-smoothing:anti-alias;
}
p {
  text-align:justify;
}
.btn {
	transition: all 0.4s ease 0s;
	text-shadow:none;
}
.pagination {
	margin-top:20px;
	margin-bottom:20px;
	width:100%;
	.fa-chevron-circle-left {
		float:left;
		margin-right:10px;
		color:@red;
	}
	.fa-chevron-circle-right {
		margin-left:10px;
		float:right;
		color:@red;
	}
}

/** FONT STYLES
========================**/
h1, h2, h3, h4, h5, h6 {
	font-weight:800;
	color:@red;
	margin-bottom:20px;
}
#main-content {
	margin-bottom:30px;
	.col-sm-8 {
		padding-right:50px;
	}
	h1 {
		border-bottom:solid #ddd 2px;
		padding-bottom:10px;
	}
	img {
		margin-bottom:20px;
	}
}

/** LAYOUT STYLES
========================**/
#top {
	padding-top:20px;
	h3 {
		color:@gray;
	}
	span {
		color:@gray;
		font-size:2rem;
	}
}
#splash {
	background:url(images/splash-back.png) no-repeat;
	background-color:@black;
	background-size:cover;
	position:relative;
	height:500px;
	overflow:hidden;
	h3 {
		position:absolute;
		left:-9999px;
		font-weight:800;
		color:#9c1421;
		text-shadow:1px 1px 1px #fff;
		z-index:10;
	}
	h3.one {
		 top:100px;
		 font-size:4rem;
	}
	h3.two {
		 top:150px;
		 font-size:5rem;
	}
	h3.three {
		 top:230px;
		 font-size:4rem;
	}
}
#splash-bar {
	background-color:@red;
	padding:10px 0;
	color:@white;
	position:relative;
	h3 {
		color:@white;
	}
	.slider {
		width:580px;
		height:50px;
		overflow:hidden;
	}
	ul {
		list-style-type:none;
	}
	.slider li {
		display:none;
		position:absolute;
		top:0;
		left:40%;
	}
	.slider h3 {
		font-size:4rem;
		color:@white;
	}
}
#sidebar {
	form {
		.gform_heading {
			background-color:@red;
			padding:10px;
			margin-bottom:0;
			width:100%;
			h3 {
				color:@white;
			}
		}
		.gform_body {
			background-color:#ddd;
			padding:10px;
		}
	}
	.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=image], .gform_wrapper .gform_footer input[type=submit] {
			background-color:@red;
			color:@white;
			width:100%;
			padding:10px;
			border:none;
			&:hover {
				background-color:darken(@red,5%);
			}
		}
}
#results {
	background-color:@black;
	.fa-star {
		color:gold;
	}
}

/** NAVIGATION STYLES
========================**/
#navigation {
	background-color:@red;
	color:@white;
	.navbar {
		margin-bottom:0;
		a {
			color:@white;
		}
	}
	.nav>li>a:focus, .nav>li>a:hover, .nav>li.active {
		background-color:darken(@red, 4%);
	}
}
#breadcrumb {
	background-color:#f2f2f2;
	color:#ccc;
	padding:5px 0 0 30px;
	font-size:1.5rem;
	margin-bottom:50px;
}

/** NAVIGATION MOBILE SIZE
==========================**/
.navbar-toggle {
	background-color:@white;
	width:30%;
	transition: all 0.75s;
	.menu-name {
		width:100%;
		float:right;
		color:@red;
		font-size:1.5rem;
		transition: all 0.75s;
	}
	.icon-bar {
		background-color:@red;
		display:none;
		transition: all 2s;
	}
	&:hover {
		border-radius:0;
		width:90%;
	}
	&:hover .icon-bar {
		display:block;
	}
}


/** PAGES
========================**/
.reviews-content {
	.fa-star {
		color:gold;
	}
}

/** PAGE PICTURES
=========================**/
.page-pictures {
	.col-sm-8 {
		padding-left:0;
	}
}
#sliding-container {
	display:flex;
	figure {
		position:relative;
		flex:1;
		font-size:0;
		overflow:hidden;
		margin:0;
	}
	img {
		transition: 2.4s linear;
		max-width:100%;
	}
	figure:first-of-type img {
		width:133%;
		max-width:initial;
	}
	figure:first-of-type:hover img {
		transform: translateX(-24%);
	}
	figure figcaption {
		background:rgba(0,0,0,0.3);
		font-size: 3rem;
		width:100%;
		color:#fff;
		padding:.3rem;
		position:absolute;
		margin:0;
		transition:.6s;
		top: -5rem;
	}
	figure:hover figcaption {
		transform: translateY(5rem);
	}
	figure:last-of-type:hover img:nth-child(1) {
		opacity:1;
	}
}
@media screen and (max-width: 600px) {
  #sliding-container {
    flex-direction: column;
  }
}

/** UPPER FOOTER
========================**/
#upper-footer {
	background:url(images/reviews-background.jpg);
	padding:40px 0;
	.fa-star {
		color:gold;
	}
}
#results {
	
	background:url(images/dallas-skyline.jpg);
	background-size:cover;
	padding:20px 0 20px;
	h3  {
		color:@white;
		font:bold 3rem @font;
	}
	a {
		color:@white;
		font:normal 1.5rem @font;
		&:hover {
			text-decoration:none;
		}
	}
	.inner-container {
		padding:10px 20px;
		min-height:400px;
		border-radius:5px;
		background:rgba(0,0,0,0.5);
		overflow:hidden;
		position:relative;
		transition:all 1s ease-in-out;
		.bottom-box {
			width:100%;
			height:50px;
			background-color:@red;
			color:@white;
			position:absolute;
			bottom:-50px;
			left:0;
			transition:all 0.7s ease-in-out;
			text-align:center;
			padding-top:10px;
		}
		p {
			color:@white;
		}
		&:hover {
			background-color:@black;
		}
		&:hover .bottom-box {
				bottom:0;
			}
	}
}
.carousel-reviews {
	.block-text {
	    background-color: rgba(255,255,255,0.85);
	    border-radius: 5px;
	    box-shadow: 0 3px 0 #2c2222;
	    color: #626262;
	    font-size: 14px;
	    margin-top: 27px;
	    padding: 15px 18px;
	    height:200px;
	}
	.block-text a {
	 	color: @red;
	    font-size: 25px;
	    font-weight: bold;
	    line-height: 21px;
	    text-decoration: none;
	    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	}
	.mark {
	    padding: 12px 0;background:none;
	}
	.block-text p {
	    color: #585858;
	    font-family: Georgia;
	    font-style: italic;
	    line-height: 20px;
	}

	.sprite-i-triangle {
	    background-position: 0 -1298px;
	    height: 44px;
	    width: 50px;
	}
	.block-text ins {
	    bottom: -44px;
	    left: 50%;
	    margin-left: -60px;
	}


	.block {
	    display: block;
	}
	.zmin {
	    z-index: 1;
	}
	.ab {
	    position: absolute;
	}

	.person-text {
	    padding: 10px 0 0;
	    text-align: center;
	    z-index: 2;
	}
	.person-text a {
	    color: #ffcc00;
	    display: block;
	    font-size: 14px;
	    margin-top: 3px;
	    text-decoration: underline;
	}
	.person-text i {
	    color: #fff;
	    font-family: Georgia;
	    font-size: 13px;
	}
	.rel {
	    position: relative;
	}
}

/** UPPER FOOTER WIDGETS
==========================**/
#upper-footer-widgets {
	background-color:@red;
	color:@white;
	padding-top:30px;
	padding-bottom:30px;
	.col-sm-4 {
		padding-left:10px;
		padding-right:10px;
	}
	h3 {
		color:@white;
	}
	.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=image], .gform_wrapper .gform_footer input[type=submit] {
		background-color:green;
		border:none;
		&:hover {
			opacity:0.8;
		}
	}
}

/** STICKY FOOTER STYLES
========================**/
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
  padding-top:20px;
}

/** RESPONSIVE STYLES
========================**/

@media (max-width: 480px) {
	#splash {
		height:300px;
	}
	.splash-image-left {
		max-width:80%;
	}
}
@media (max-width:1110px){
	#splash h3.one {
		font-size:3rem;
	}
	#splash h3.two {
		font-size:4rem;
	}
}







